.dark-theme {
  background-color: #222;
  color: #0f0874;
  display: flex;
  justify-content: space-between;
  padding: 10px;
}

.dark-theme a {
  color: #070e71;
  text-decoration: none;
  margin-right: 20px;
}

.dark-theme a:hover {
  color: #1d069e;
}
